<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/project.css">
</head>

<body>
	<header>
		{% include 'header.html' %}
	</header>
	<main id="all-info">
		<nav id="students_list">
			<h2>Students <a href="/student/add" class="btn btn-success">+</a></h2>
			{% for student in students %}
				<a href="/student/{{student.id}}">
					<div id="info-box">
						<div>
							<img src="/views/{{student.image_link}}" alt="" width=95>
						</div>
						<div id="student-info">
							<p>{{student.name}}</p>
							<p>{{student.email}}</p>
						</div>

					</div>
				</a>
			{% endfor %}	
		</nav>
	
		<nav id="courses_list">
			<h2>Courses <a href="/course/add" class="btn btn-success">+</a></h2>
		
			{% for course in courses %}
				<a href="/course/{{course.id}}">
					<div id="info-box">
						<img src="/views/{{course.image_link}}" alt="" width=95>
			    		<p style="margin-left: 1rem;">{{course.name}}</p>
			    	</div>
			    </a>
			{% endfor %}	
		</nav>

		<div id="container">
			<div class="inside">
				<div class="top_inside">
					<h1>{{specific_course.name}} Course</h1>
					<div><a href="/course/update/{{specific_course.id}}" class="btn btn-info">Edit</a></div>
					<form action="/course/delete/{{specific_course.id}}" method="POST" enctype="multipart/form-data">
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</div>
				<hr>
				<h2>{{specific_course.name}}</h2>
				<h3>{{specific_course.description}}</h3>
				<img src="/views/{{specific_course.image_link}}" alt="" width=150>

				{% for student in students_arr %}
				<a href="../student/{{student.id}}">
					<div id="info-box">
						<img src="/views/{{student.image_link}}" alt="" width=95>
			    		<p style="margin-left: 1rem;">{{student.name}}</p>
			    	</div>
			    </a>
			{% endfor %}
			</div>
		</div>
	</main>

		<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>

</body>
</html>