<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>School</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/project.css">

</head>
<body>
	<header>
		{% include 'header.html' %}
	</header>
	<main id="all-info">
		<nav id="students_list">
			<h2>Students <a href="/student/add" class="btn btn-success">+</a></h2>
			
			{% for student in students %}
				<a href="/student/{{student.id}}">
					<div id="info-box">
						<div>
							<img src="/views/{{student.image_link}}" alt="">
						</div>
						<div id="student-info">
							<p>{{student.name}}</p>
							<p>{{student.email}}</p>
						</div>

					</div>
				</a>
			{% endfor %}		
		</nav>
	
		<nav id="courses_list">
			<h2>Courses <a href="/course/add" class="btn btn-success">+</a></h2>
			{% for course in courses %}
				<a href="/course/{{course.id}}">
					<div id="info-box">
						<img src="/views/{{course.image_link}}" alt="" width=95>
			    		<p style="margin-left: 1rem;">{{course.name}}</p>
			    	</div>
			    </a>
			{% endfor %}
				
		</nav>


		<div id="container">
			<form class="inside_form" action="/course/updated_course/{{specific_course.id}}" method="POST" enctype="multipart/form-data">
  				<div class="form-group col-md-6">
					<h2>Edit {{specific_course.name}} course</h2>
					<hr>
    				<label for="inputName">Name</label>
    				<input type="text" class="form-control" id="inputEditName" placeholder="Name" value="{{specific_course.name}}" name="inputEditName">
  				</div>
		    	<div class="form-group col-md-6">
					<label for="inputEditDescription">Description</label>
		      		<textarea name="inputEditDescription" id="inputEditDescription" cols="30" rows="5" required>{{specific_course.description}}</textarea>
	   			</div>
				<div class="form-check">
  				{% for student in students2 %}
			    	<label for="students_id">
			    	<input type="checkbox" id="students_id" name="students_id[]" value="{{student.id}}"

			    	{% for studentCo in find_students %}
					{% if student.id == studentCo.student_id %} 
					checked
					{% endif %}
					{% endfor %}
					> 
			    		{{student.name}}
			    	</label>
				{% endfor %}

				</div>

				<div class="form-group">
    				<input type="file" class="form-control-file" id="course_image_link" name="course_image_link" oninput="fileValidity();" required>
  				</div>

			  	<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>


	</main>
		<script src="/js/courses_edit.js"></script>
		<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function() {
                $('#inputEditName, #inputEditDescription').focus(function() {
                    $(this).css('backgroundColor', '#E0E0E0');
                });
                $('#inputEditName, #inputEditDescription').blur(function() {
                    $(this).css('backgroundColor', 'white');
                });
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>